.chat-main__footer--wrapper
  = form_for [@group, @message], id: "new_message" do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    .chat-main__footer--body
      = f.label :image, class: 'message_body' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'Send'
